1.Write a python program to find area of circle.

In [ ]:
pi = 3.14
radius = float(input('enter the radius'))
area = pi * radius * radius
print('Area of circle is', area)

enter the radius3
Area of circle is 28.259999999999998

2.Write a python program to accept details of students

In [ ]:
Name = input('Enter the name')
Rollno = input('enter the roll no')
Mark = input ('enter  the mark')
print('Name:' , Name)
print('Roll no:', Rollno)
print('Mark:' , Mark)

Enter the nameAnisha
enter the roll no21
enter  the mark78
Name: Anisha
Roll no: 21
Mark: 78

3.Write a python program to find largest number from a list

In [ ]:
n1,n2,n3,n4, = 12, 3, 47,10
if n1>n2 and n1>n3 and n1>n4:
  print('the largest number is', n1)
elif n2>n1 and n2>n3 and n2>n4:
  print('the largest number is',n2)
elif n3>n1 and n3>n2 and n3>n4:
  print('the largest number is' , n3)
else:
  print('the largest number is ', n4)

the largest number is 47

 4.Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [ ]:
for num in range(1,11):
 print(num)
 previousnum = 0
for i in range(1,11):
 sum = previousnum + i
 print('currentnumber', i)
 print('previousnumber', previousnum)
 print('sum',sum)
 previousnum =i

1
2
3
4
5
6
7
8
9
10
currentnumber 1
previousnumber 0
sum 1
currentnumber 2
previousnumber 1
sum 3
currentnumber 3
previousnumber 2
sum 5
currentnumber 4
previousnumber 3
sum 7
currentnumber 5
previousnumber 4
sum 9
currentnumber 6
previousnumber 5
sum 11
currentnumber 7
previousnumber 6
sum 13
currentnumber 8
previousnumber 7
sum 15
currentnumber 9
previousnumber 8
sum 17
currentnumber 10
previousnumber 9
sum 19

5. Write a python program to print those numbers which are only divisible by 5

In [ ]:
list1 =[10,20,33,46,55]
print(list1)
for num in list1:
  if num%5 == 0:
   print(num)

[10, 20, 33, 46, 55]
10
20
55

In [ ]:
6.Write a program to check whether given number is prime or not

In [ ]:
number = int(input('enter a the number'))
for test in range ( 2, number//2):
  if number%test ==0:
    print(number ,'is  not a prime number')
    break
else:
  print(number , "is a prime number")

enter a the number3
3 is a prime number

7. Write a Python program to reverse a list using for loop

In [ ]:
list2= [10,40, 30, 70]
print(list2)
print(list2[::-1])

[10, 40, 30, 70]
[70, 30, 40, 10]

8.Write a program to print the following pattern.

In [3]:
n=4

for i in range(n) :
  for j in range(i+1):
    print('*',end='')
  print()

*
**
***
****

9. Write a python program to find maximum of 3 numbers

In [ ]:
num4= float(input('enter the first number'))
num5= float(input('enter the second number'))
num6= float(input('enter the third number'))

if (num4>=num5) and (num4>=num6):
  print('the largest number is', num4)
elif (num5>=num4) and (num5>=num6) :
  print('the largest number is',num5)
else:
  print('the largest number is', num6)

enter the first number34
enter the second number12
enter the third number7
the largest number is 34.0

10. Write a python program to create foollowing pattern using nested for loop

In [1]:
n=5

for i in range(n) :
  for j in range(i+1):
    print('*',end='')
  print()
for i in range(n) :
  for j in range(i,n):
    print('*',end='')
  print()

*
**
***
****
*****
*****
****
***
**
*